*{
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(50, 115, 220);
    
}

body, .quote-inpute{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bloco {
    background-color:#F0DB4F;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}

.tempo {
    position:absolute;
    top: 2rem;
    font-size: 3rem;
    color: #F0DB4F;
    font: bold;
}

.quote-display{
    margin-bottom: 1rem;
}

.quote-inpute {
    background-color: transparent;
    border: 2px solid #A1922E;
    outline: none;
}
.quote-inpute:focus {
    border-color: black;
}